@page
@model BDAssetLibrary.Pages.Partners.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Partners</h2>

<p style="display:none">
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<div class="row">
    <div class="col-sm-4">
        <h6><strong>@(Model.RecordCount)</strong> result(s) found</h6>
    </div>
</div>
@foreach (var result in Model.Partners)
{
    <div class="row indexrow indexrowmargin">
        <p class="indexemailfont indexemailmargin"><strong>@result.PartnerName</strong></p>
        <div class="row indexmargin indexfont">
            <div class="col-md-4">
                Contact name(s): <strong>@result.ContactName</strong>
            </div>
            <div class="col-md-4">
                Contact email(s): <strong>@result.ContactEmail</strong>
            </div>
            <div class="col-md-4">
                Contact Phone(s): <strong>@result.ContactPhone</strong>
            </div>
        </div>
        @*<div class="col-sm-2 col-sm-offset-10">
            <a class="indexlinkfont indexlinkmargin" href="#">Update</a>
            <a class="indexlinkfont indexlinkmargin" href="#">Delete</a>
        </div>*@
    </div>
}
